{% extends "login_layout.html" %}

{% block main %}

<div class="page-content">
 <div class="row">
									<div class="col-xs-6 col-sm-3 pricing-box">
										<div class="widget-box">
											<div class="widget-header header-color-dark">
												<h5 class="bigger lighter">Standard </h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<ul class="list-unstyled spaced2">
														<li>
															<i class="icon-ok green"></i>
															5 Members
														</li>

														<li>
															<i class="icon-ok green"></i>
															Unlimited Projects
														</li>

														<li>
															<i class="icon-ok green"></i>
															Unlimited Guests
														</li>

														<li>
															<i class="icon-ok green"></i>
															3rd Party Integrations
														</li>

														
													</ul>

													<hr />
													<div class="price">
														$290
														<small>/year</small>
													</div>
												</div>

												<div>
													<a href="#" class="btn btn-block btn-inverse">
														<i class="icon-shopping-cart bigger-110"></i>
														<span>Buy</span>
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-6 col-sm-3 pricing-box">
										<div class="widget-box">
											<div class="widget-header header-color-orange">
												<h5 class="bigger lighter">Studio </h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<ul class="list-unstyled spaced2">
														<li>
															<i class="icon-ok green"></i>
															10 Members
														</li>

														<li>
															<i class="icon-ok green"></i>
															Unlimited Projects
														</li>

														<li>
															<i class="icon-ok green"></i>
															Unlimited Guests
														</li>

														<li>
															<i class="icon-ok green"></i>
															3rd Party Integrations
														</li>
													</ul>

													<hr />
													<div class="price">
														$490
														<small>/year</small>
													</div>
												</div>

												<div>
													<a href="#" class="btn btn-block btn-warning">
														<i class="icon-shopping-cart bigger-110"></i>
														<span>Buy</span>
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-6 col-sm-3 pricing-box">
										<div class="widget-box">
											<div class="widget-header header-color-blue">
												<h5 class="bigger lighter">Premium </h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<ul class="list-unstyled spaced2">
														<li>
															<i class="icon-ok green"></i>
															25 Members
														</li>

														<li>
															<i class="icon-ok green"></i>
															Unlimited Projects
														</li>

														<li>
															<i class="icon-ok green"></i>
															Unlimited Guests
														</li>

														<li>
															<i class="icon-ok green"></i>
															3rd Party Integrations
														</li>
													</ul>

													<hr />
													<div class="price">
														$990
														<small>/year</small>
													</div>
												</div>

												<div>
													<a href="#" class="btn btn-block btn-primary">
														<i class="icon-shopping-cart bigger-110"></i>
														<span>Buy</span>
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-6 col-sm-3 pricing-box">
										<div class="widget-box">
											<div class="widget-header header-color-green">
												<h5 class="bigger lighter">Deluxe </h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<ul class="list-unstyled spaced2">
														<li>
															<i class="icon-ok green"></i>
															50 Members
														</li>

														<li>
															<i class="icon-ok green"></i>
															Unlimited Projects
														</li>

														<li>
															<i class="icon-ok green"></i>
															Unlimited Guests
														</li>

														<li>
															<i class="icon-ok green"></i>
															3rd Party Integrations
														</li>
													</ul>

													<hr />
													<div class="price">
														$1800
														<small>/year</small>
													</div>
												</div>

												<div>
													<a href="#" class="btn btn-block btn-success">
														<i class="icon-shopping-cart bigger-110"></i>
														<span>Buy</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>



{% endblock %}
