{% extends "login_layout.html" %}

{% block main %}
<style>
.profile-info-value{margin-left:200px;}
.profile-info-name{width:200px;}
</style>
<div class="space-20"></div>
<div id="user-profile-1" class="user-profile row" style="margin-left:100px;">
	<div class="col-xs-12 col-sm-10">
		<div class="profile-user-info profile-user-info-striped">
			<div class="profile-info-row">
				<div class="profile-info-name"> Name </div>
				<div class="profile-info-value">
					<span class="editable" id="username">Reddy</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name" > Email </div>

				<div class="profile-info-value">
					<span class="editable" id="email">malludamodharreddy@gmail.com</span>
				</div>
			</div>



			
			<div class="profile-info-row" style="height:43px;">
				<div class="profile-info-name">Current&nbsp;Password</div>
				<div class="profile-info-value" >
					<input type="password" id="form-field-1"class="col-xs-10 col-sm-5">
				</div>
			</div>
			<div class="profile-info-row" style="height:43px;">
				<div class="profile-info-name">New&nbsp;Password</div>

				<div class="profile-info-value" >
					<input type="password" id="form-field-1"class="col-xs-10 col-sm-5">
				</div>
			</div>
			<div class="profile-info-row" style="height:43px;">
				<div class="profile-info-name">Confirm&nbsp;Password</div>

				<div class="profile-info-value" >
					<input type="password" id="form-field-1" class="col-xs-10 col-sm-5">
				</div>
			</div>
		</div>

		<div class="space-20"></div>
		<div class="center">
			<a href="#" class="btn btn-sm btn-primary">
				<span class="bigger-110">Update</span>
			</a>
		</div>
	</div>
</div>
</div>
</div>


<script type="text/javascript">
jQuery(function($) {
	
				//editables on first profile page
				$.fn.editable.defaults.mode = 'inline';
				$.fn.editableform.loading = "<div class='editableform-loading'><i class='light-blue icon-2x icon-spinner icon-spin'></i></div>";
				$.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="icon-ok icon-white"></i></button>'+
				'<button type="button" class="btn editable-cancel"><i class="icon-remove"></i></button>';    
				
				//editables 
				$('#username').editable({
					type: 'text',
					name: 'username'
				});
				$('#email').editable({
					type: 'text',
					name: 'email'
				});
				

			});
</script>

{% endblock %}